<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./particals/head") %>
    <title>homepage</title>
</head>
<body>
    <%- include("./particals/nav") %>
    <%- include("./particals/scripts") %>
</body>
</html>